	<!-- Twitter Cards -->
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	{% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">{% endif %}
	{% if site.owner.twitter %}<meta name="twitter:site" content="@{{ site.owner.twitter }}">{% endif %}
	{% if author.twitter %}<meta name="twitter:creator" content="@{{ author.twitter }}">{% endif %}
	{% if page.image.feature %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="{{ site.url }}/images/{{ page.image.feature }}">
	{% else %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">
	{% endif %}
	<!-- Open Graph -->
	<meta property="og:locale" content="{{ site.locale | default: 'en_US' }}">
	<meta property="og:type" content="{% if page.url == '/' %}website{% else %}article{% endif %}">
	<meta property="og:title" content="{{ page.title | default: site.title }}">
	<meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html }}">
	<meta property="og:url" content="{{ page.url | prepend: site.url }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:image" content="https://yorko.github.io/assets/og-image.png">