---
layout: default
---
<div id="main">
	<article class="wrap">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% include breadcrumbs.html %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		<div class="inner-wrap">
			<div id="content" class="page-content">
				<!-- Note to authors: Please ensure your post content includes at least one <h2> or <h3> subheading for better GEO / SEO structure. -->
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments != false %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
	<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "BlogPosting",
	  "mainEntityOfPage": {
	    "@type": "WebPage",
	    "@id": "{{ page.url | prepend: site.url }}"
	  },
	  "headline": "{{ page.title | escape }}",
	  "description": "{{ page.excerpt | strip_html | escape | default: site.description | escape }}",
	  {% if page.image.feature %}
	  "image": "{{ site.url }}/images/{{ page.image.feature }}",
	  {% endif %}
	  "author": {
	    "@type": "Person",
	    "name": "{% if page.author %}{{ site.data.authors[page.author].name | default: site.owner.name }}{% else %}{{ site.owner.name }}{% endif %}"
	  },
	  "publisher": {
	    "@type": "Organization",
	    "name": "{{ site.title }}",
	    "logo": {
	      "@type": "ImageObject",
	      "url": "{{ site.url }}/assets/logo.png"
	    }
	  },
	  "datePublished": "{{ page.date | date_to_xmlschema }}"{% if page.last_modified_at %},
	  "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}"{% endif %}
	}
	</script>
</div><!-- /#main -->

